<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>18/06/13 02:34:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test.setup()[pri:0, instance:Assessment.automation.Test@343f4d3d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>18/06/13 02:34:50</td>   <td>9898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.main()[pri:0, instance:Assessment.automation.Test@343f4d3d]">main</td> 
  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>18/06/13 02:36:59</td>   <td>138950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test.takeScreenShotOnFailure(org.testng.ITestResult)[pri:0, instance:Assessment.automation.Test@343f4d3d]">&lt;&lt;takeScreenShotOnFailure</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
</table>
