<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b466">  <td>18/06/13 00:26:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test.setup()[pri:0, instance:t.Test@42e26948]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1344645519</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/06/13 00:26:32</td>   <td>2689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test.main()[pri:0, instance:t.Test@42e26948]">main</td> 
  <td>TestNG-test=Test-1@849021837</td>   <td></td> </tr>
</table>
